<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>boardContent</title>
</head>
<body>
    <h2>글 상세보기</h2>
    <form th:action="@{'/board/edit/' + ${board.id}}" method="get" th:object="${board}">
        <input type="text" id="title" name = "title" th:field="*{title}" readonly>
        <textarea rows="5" id="content" name = "content" th:field="*{content}" readonly></textarea>

        <input type="submit" value="수정하기" th:if="${mine.equals('true')}"/>
        <a th:href="@{'/board/delete/' + ${board.id}}" th:if="${mine.equals('true')}">
            <input type="button" value="삭제하기">
        </a>
        <input type="button" value="뒤로가기" onclick="location.href='/'" />
    </form>
</body>
</html>