<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>인덱스 페이지입니다.</h1>
<form action="/board/create" method="get">
    <p th:if="${login.equals('true')}"><b><span th:text="${nickname}"/></b>님 반갑습니다!</p>
    <input type="button" value="로그인" onclick="location.href='/loginForm'"/>
    <input type="button" value="로그아웃" onclick="location.href='/logout'"/><br/>
    <input type="submit" value="글 작성"/>
    <br/>
    <table>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>닉네임</th>
        </tr>
        <tr th:each = "board : ${boards}">
            <td th:text="${board.id}"></td>
            <td>
                <a th:href="@{'/board/visit/' + ${board.id}}" th:text="${board.title}"></a>
            </td>
            <td th:text="${board.createdBy}"></td>
        </tr>
    </table>
</form>

</body>
</html>